* {
    margin: 0; /* ensure there is no unwanted spacing from browsers */
    padding: 0;
    box-sizing: border-box; /* no takes borders and padding into account when calculating element size */
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

body {
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px 20px; /*[top] [right] [bottom] [left];*/
}

header img {
    width: 74px;
}

.user-menu {
    display: flex;
}

.user-menu a {
    font: 13px/27px Roboto, Arial, sans-serif;
    text-decoration: none;
}

.user-menu a:hover {
    text-decoration: underline;
}

.user-menu a,
.user-menu span {
    margin-left: 10px;
}

.appbar {
    font-size: 20px;
    color: #d93025;
    padding: 25px 35px 20px 35px;
    margin-left: 10px;
}

.section-line {
    border-bottom: 1px solid #ebebeb;
}

section {
    margin: 35px;
    max-width: 1000px;
    font-family: Arial, sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/*top-right-bot-left*/
th, td {
    padding: 12px 0 4px 8px;
    text-align: left;
    vertical-align: top;
}

th.th1 {
    padding: 12px 8px 12px 8px;
    min-width: 200px;
    width: 8%;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    height: 30px;
    vertical-align: middle;
}

th.th2 {
    padding: 12px 0 12px 0;
    min-width: 167px;
    width: 26%;
}

th.th3 {
    padding: 12px 8px 12px 8px;
    width: 14%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    height: 30px;
    vertical-align: middle;
}

td.t1 {
  padding: 12px 0 4px 8px;  
  min-width: 140px;
  width: 13%;
  height: 30px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}

td.t2 {
    padding: 12px 0 4px 0;
    min-width: 167px;
    width: 50%;
}

td.t3 {
    width: 32%;
    min-width: 160px;
    margin: 0;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    position: relative;
}

td input[type="text"] {
    width: 100%;
    max-width: 570px;
    padding: 4px 4px 4px 0;
    border: 1px solid #ccc;

}

td span {
    display: inline-block;
    padding: 1px 6px;
    font-family: monospace;
    font-size: 11px;
}

footer {
    display:flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
}

@media (max-width: 890px) {
    th.th3, td.t3 {
        display: none;
    }
    section {
        width: 586px;
    }
    th.th2 {
        width: 50vw;
    }
    th.th1 {
        min-width: 140px; /* Largura mínima para coluna 1 no breakpoint */
        width: auto;
    }
}

